DATABASE_URL=database_url
PORT=5000


CLIENT_URL=http://localhost:3000


JWT_SECRET=dateResturant
NODE_ENV=development

ADMIN_EMAIL=admin_email
ADMIN_PASSWORD=admin_password

Nodemailer_GMAIL=app_email
Nodemailer_GMAIL_PASSWORD=app_password

SUPPORT_EMAIL=support_email
SUPPORT_PHONE=support_phone
 
JWT_SECRET_KEY=ticket_platform

STRIPE_SECRET_KEY=provide_your_secret_key
UPLOAD_FOLDER=public/uploads
max_file_size=5242880
AWS_ACCESS_KEY_ID=aws_key_id
AWS_SECRET_ACCESS_KEY=aws_secret_key
AWS_BUCKET_NAME=aws_bucket_name
AWS_REGION=aws_region
  
# auth secrete 

GOOGLE_CLIENT_ID=google_client_id
GOOGLE_CLIENT_SECRET=google_client_secrete

APPLE_CLIENT_ID=apple_client_id
APPLE_TEAM_ID=apple_key_id
APPLE_KEY_ID=apple_key_id
APPLE_PRIVATE_KEY_PATH=private_key_path

SESSION_SECRET=sessionsecret

# OpenAI API Keys
OPENAI_API_KEY=open_api_key


OPENAI_API_KEY_TWO=open_api_key

HF_TOKEN=your_hf_token
HF_API_KEY_TWO=your_hf_token


GROQ_API_KEY=your_groq_api_key

# SSLCommerz Credentials
SSL_STORE_ID=your_store_id
SSL_STORE_PASSWORD=your_store_password
SSL_IS_LIVE=false

# App URLs
BACKEND_URL=http://localhost:5000
FRONTEND_URL=http://localhost:3000
SSL_IPN_URL=http://localhost:5000/api/v1/payments/sslcommerz/ipn